$text_color: #222222;
$highlight_color: #00ccff;
$background_color: #f2f2f2;

$primary_fonts: 'Roboto', sans-serif;
$header_fonts: 'Raleway', sans-serif;
$monospace_fonts: 'Inconsolata', monospace;

$mobile: "max-width: 767px";
$tablet: "min-width: 768px) and (max-width: 1024px";
$desktop: "min-width: 1025px";